.count-type {
  border: 0px;
  font-size: 35px;
  font-family: monospace;
  width: 100px;
  height: 50px;
  margin: 30px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.315);
}

.panelCountLevels {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  order: -3;
}

.errorClass {
  background-color: #f44336;
}

.warningClass {
  background-color: #ff9800;
}

.infoClass {
  background-color: #2196f3;
}

.errorClass:hover {
  background-color: #d32f2f;
  box-shadow: 1px 5px 10px #f4433688;
  transition: 0.5s;
}

.warningClass:hover {
  background-color: #f57c00;
  box-shadow: 1px 5px 10px #ff9800;
  transition: 0.5s;
}

.infoClass:hover {
  background-color: #1976d2;
  box-shadow: 1px 5px 10px #2196f3;
  transition: 0.5s;
}
