.warningClass {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b100009c;
  width: 100px;
  height: 50px;
  margin: 0px 20px;
}

.warningClass > h1 {
  font-size: 35px;
  font-family: monospace;
}

.errorClass {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc107;
  width: 100px;
  height: 50px;
  margin: 0px 20px;
}

.errorClass > h1 {
  font-size: 35px;
  font-family: monospace;
}

.infoClass {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17a2b8;
  width: 100px;
  height: 50px;
  margin: 0px 20px;
}

.infoClass > h1 {
  font-size: 35px;
  font-family: monospace;
}
