.count-type {
  border: 0px;
  font-size: 35px;
  font-family: monospace;
  width: 100px;
  height: 50px;
  margin-right: 40px;
}

.panelCountLevels {
  position: fixed;
  width: 100%;
  top: 10px;
  display: flex;
  justify-content: flex-end;
}

.warningClass {
  background-color: #f44336;
}

.errorClass {
  background-color: #ff9800;
}

.infoClass {
  background-color: #2196f3;
}

@media screen and (max-width: 1130px) {
  .panelCountLevels {
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
