.pagination-buttons-container {
  padding: 0px;
  border: 0px;
}

.pagination-buttons-container button {
  border: 0px;
  margin: 0px 10px 10px 10px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.589);
}
