.eventsContainer {
  width: 80%;
  position: fixed;
  right: 25px;
  top: 10vw;
}

.infoEvent {
  background-color: #2196f3;
}

.warningEvent {
  background-color: #f44336;
}

.errorEvent {
  background-color: #ff9800;
}
