.events-container {
  width: 80%;
  position: fixed;
  left: 30px;
  top: 8vw;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.315);
}

.infoEvent {
  background-color: #2196f3;
}

.warningEvent {
  background-color: #f44336;
}

.errorEvent {
  background-color: #ff9800;
}

@media screen and (max-width: 1130px) {
  .events-container {
    position: static;
    width: 100%;
    justify-content: flex-end;
  }
}
