.eventsContainer {
  width: 80%;
  position: fixed;
  right: 40px;
  top: 8vw;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.315);
}

.infoEvent {
  background-color: #2196f3;
}

.warningEvent {
  background-color: #f44336;
}

.errorEvent {
  background-color: #ff9800;
}

@media screen and (max-width: 1130px) {
  .eventsContainer {
    position: static;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
