.body {
  background-color: #dc3545;
  height: 95%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.37);
  min-width: 355px;
}

.form-signin {
  max-width: 400px;
}

.form-signin h1 {
  padding-bottom: 40px;
  color: white;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.form-signin [type="submit"] {
  margin-top: 30px;
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
  color: white;
  border-color: white;
  font-family: "Poppins", sans-serif;
}

.form-signin [type="submit"]:hover {
  margin-top: 30px;
  border-color: #0c9fa6;
  background-color: #0c9fa6;
  box-shadow: 1px 5px 10px #0c9fa6;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
